body{
    background-image: url('spa-img/IMG-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: crimson;
    margin: 4% auto;
    font-size: 16px;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}
.container{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -100px;
    height: 90vh;
}
table{
    border: 9px solid;
    border-image:url('access/download.png') 25% round;
    margin: 2% auto;
    margin-top: 120px;
    width: 90vw;
    box-shadow: 8px 8px 15px rgb(23, 65, 102),8px 8px 15px red,;
    text-align: center;
}
h2{
    color:rgb(4, 124, 30);
    margin: auto;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}
tr th{
    text-decoration: underline;
    text-transform: uppercase;
    background:skyblue;
    padding: 1%;
}
tr td{
    background: rgb(224, 232, 238,);
    padding: 1%;
    border: 3px 5px black solid;
    align-items: center;
    margin: auto;
    justify-content:center;
    
}
#email{
    min-width: 190px;
    margin: auto;
}
#whatsapp{
    min-width: 145px;
}
#phone{
    min-width: 130px;
}
#user_name{
    min-width: 110px;
}
body img{
    height: 120px;
    width: 130px;
}

input[type='checkbox'] {
    cursor: pointer;
    accent-color:orangered;
}
.checkbox{
    background: skyblue;
}

.check_box {
    position: relative;
    cursor: pointer;
    margin: 20px;
    background: skyblue;
    width: 50px;
}
.check_box:hover{
    cursor: pointer;
} 
tr{
    cursor: none;
}
td:hover{
    cursor: none;
    background: rgba(3, 130, 230, 0.6);
    user-select: none;
}
th:hover{
    cursor: default;
    user-select: all;
    color: rgb(38, 26, 4);
    background: rgba(7, 115, 130, 0.6);
}
input[type='password']{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 35px;
    text-align: center;
    padding-left: 5px;
    font-size: 15px;
    overflow: hidden;
    color: rgba(253, 253, 5, 0.9);
    background: rgb(26, 136, 246,0.7);
    box-shadow: 3px 3px rgb(9, 33, 43, 0.4);
    cursor: text;
    border: none;
    margin: 1.3%;
    margin-top: -39px;
}
button{
    margin: 1.3%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 4%;
    text-transform: uppercase;
    color: dodgerblue;
    background: rgb(9, 33, 43, 0.6);
    border: 3px solid aqua;
    margin-top: -12%;
    margin-left: 20%;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
::placeholder{
    color: rgb(214, 214, 9, 0.6);
}
.nav{
    //margin-bottom: 300px;
    z-index: 11;
}
.nav a{
    list-style-type: none;
    text-decoration: none;
    color: blueviolet;
    padding: 1%;
    margin: 5% auto;
}
.nav a:hover{
    color: rgb(22, 22, 140);
    text-decoration: underline;
    transform: translateX(1%)}
.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 90px;
}
.nav li{
    min-width: 80px;
    text-align: center;
    padding: 4%;
    
}
.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    min-width: 90px;
}